<a href="https://colab.research.google.com/github/LCaravaggio/Cosas_Sueltas/blob/main/Leer_Rda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
!pip install pyreadr

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyreadr
  Downloading pyreadr-0.4.7-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (365 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 365.3/365.3 kB 11.2 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.9/dist-packages (from pyreadr) (1.5.3)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.2.0->pyreadr) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.2.0->pyreadr) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.2.0->pyreadr) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pyreadr) (1.16.0)
Installing collected packages: pyreadr
Successfully installed pyreadr-0.4.7

In [14]:
import requests
import pyreadr

In [11]:
r = requests.get('https://github.com/DataScienceForPublicPolicy/diys/raw/main/data/acs_health.Rda', allow_redirects=True)
with open ('acs_health.Rda','wb') as code:
  code.write(r.content)

In [17]:
df=pyreadr.read_r('/content/acs_health.Rda')["health"]

In [18]:
df

,id,no.coverage,age,race,sex,wage,cit,mar,schl,esr,puma
0,1,0.0,60,White,Male,66.0,Citizen,Widowed,HS Degree,Employed Civilian,2500
1,2,0.0,44,White,Male,40.0,Citizen,Married,Undergraduate Degree,Employed Civilian,1305
2,3,0.0,40,White,Female,30.0,Citizen,Married,Undergraduate Degree,Employed Civilian,1305
3,4,0.0,76,White,Male,0.0,Citizen,Married,Graduate Degree,Not in Labor Force,2000
4,5,0.0,71,White,Female,0.0,Citizen,Married,HS Degree,Not in Labor Force,2000
...,...,...,...,...,...,...,...,...,...,...,...
74800,74801,0.0,45,Asian,Female,21.3,Citizen,Married,Undergraduate Degree,Employed Civilian,1505
74801,74802,0.0,80,Asian,Male,0.0,Citizen,Widowed,Undergraduate Degree,Not in Labor Force,1505
74802,74803,0.0,52,White,Female,195.0,Citizen,Married,HS Degree,Employed Civilian,1502
74803,74804,0.0,52,White,Male,25.0,Citizen,Married,HS Degree,Employed Civilian,1502
74804,74805,0.0,92,White,Female,0.0,Citizen,Widowed,HS Degree,Not in Labor Force,3400